rootdir="/home/noor/work/vivasoft-blogs/go-effective-concurrency/code"

use nix

export GOENV="$rootdir/goenv"
export GOCACHE="$rootdir/gocache"

export GOROOT=`go env GOROOT`

export GOPATH="$rootdir/gopath"
export GOBIN="$GOPATH/bin"
export GOMODCACHE="$GOPATH/pkg/mod"

export GOPRIVATE="github.com/asd-noor"
export CGO_ENABLED="0"

PATH_add "$GOBIN"
