use nix

rootdir=`getrootdir`
projdir="$rootdir/go-effective-concurrency/code"

export GOENV="$projdir/goenv"
export GOCACHE="$projdir/gocache"

export GOROOT=`go env GOROOT`

export GOPATH="$projdir/gopath"
export GOBIN="$GOPATH/bin"
export GOMODCACHE="$GOPATH/pkg/mod"

export GOPRIVATE="github.com/asd-noor"
export CGO_ENABLED="0"

PATH_add "$GOBIN"
PATH_add "$GOROOT/bin"
