devdir=`printf "%s" "${PWD/\/gopath*}"`

export GOENV="$devdir/goenv"
export GOCACHE="$devdir/gocache"
export GOPATH="$devdir/gopath"
export GOBIN="$GOPATH/bin"
export GOMODCACHE="$GOPATH/pkg/mod"
export GOPRIVATE="github.com/asd-noor"
export CGO_ENABLED="0"

use nix
export GOROOT=`go env GOROOT`

PATH_add "$GOBIN"
PATH_add "$GOROOT/bin"
